@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  box-sizing: border-box;
  background-color: #dee3eb;
}
h1 {
  color: white;
}
body {
  padding: 0;
  margin: 0;
}
.shared-background {
  background-image: url('images/hero-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/**********NAVBAR*************/
.navbar {
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  background-color: transparent;
}
.navbar-links-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 0.1fr 0.3fr 0.1fr;
}

.navbar-button {
  display: block;
  font-size: 1.5rem;
  letter-spacing: 2px;
  color: #dee3eb;
  border: none;
  background-color: transparent;
  font-family: 'Bebas Neue';
}
.navbar-button:hover {
  color: #e2bb39;
}

.navbar-icons-grid {
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
}
.navbar-title {
  margin-left: 30px;
  display: block;
  font-family: 'Bebas Neue';
  font-size: 1.8rem;
  color: #dee3eb;
}

.navbar-icon {
  color: #dee3eb;
}
.navbar-icon:hover {
  color: #e2bb39;
}

/**********NAVBAR*************/
/**********HERO*************/
.hero {
  display: grid;
  grid-template-columns: 1fr;
  height: fit-content;
}
.hero-h1 {
  text-align: left;
  padding: 3rem;
  color: #dee3eb;
  font-size: 6rem;
  font-family: 'Bebas Neue';
  letter-spacing: 0.3rem;
}
/**********HERO*************/
/**********ABOUT*************/
.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}
.card {
  padding: 1rem;
  font-family: 'Bebas Neue';
  position: relative;
  background: #dee3eb;
  text-align: center;
  font-size: 7rem;
}
.card > h6 {
  font-size: 2rem;
}
.navbar-toggle {
  display: none;
}
.modal {
  width: 6rem;
  height: 6rem;
  background: black;
  display: none;
}

/**********ABOUT*************/
/**********PRODUCTS*************/
.products {
  padding: 2rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: fit-content;
  background: black;
}
.table-button {
  display: block;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #dee3eb;
  background-color: transparent;
  font-family: 'Bebas Neue';
}
.table-button:hover {
  color: #e2bb39;
}
.table-grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  row-gap: 1rem;
}
.image {
  border-radius: 3%;
  background: #dee3eb;
  max-width: 200px;
  max-height: 100px;
}
@media (max-width: 800px) {
  .hero-h1 {
    text-align: center;
    padding: 3rem;
    color: #dee3eb;
    font-size: 4rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.3rem;
  }
  .navbar-icons-grid {
    display: none;
  }
  .navbar-links-grid {
    display: none;
  }
  .about {
    display: block;
    padding: 3rem;
  }
  .navbar-toggle {
    position: relative;
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
    display: block;
    color: #dee3eb;
  }
  .navbar-toggle:hover {
    color: #e2bb39;
  }
  .modal-hide {
    display: none;
  }
  .modal-show {
    color: #dee3eb;
    display: block;
  }
  .modal {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    background: transparent;
    display: block;
  }
  .modal-button {
    border: none;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #dee3eb;
    background-color: transparent;
    font-family: 'Bebas Neue';
  }
  .modal-button:hover {
    color: #e2bb39;
  }
  .products {
    padding: 2rem;
    align-items: center;
    display: block;
    height: fit-content;
    background: black;
  }
  .table-button {
    display: inline-block;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #dee3eb;
    background-color: transparent;
    font-family: 'Bebas Neue';
  }
  .table-button:hover {
    color: #e2bb39;
  }
  .table-grid {
    display: block;
  }
  .image {
    margin: 1rem;
    border-radius: 3%;
    background: #dee3eb;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 400px) {
  .hero-h1 {
    text-align: center;
    padding: 3rem;
    color: #dee3eb;
    font-size: 3rem;
    font-family: 'Bebas Neue';
    letter-spacing: 0.3rem;
  }
  .navbar-icons-grid {
    display: none;
  }
  .navbar-links-grid {
    display: none;
  }
  .about {
    display: block;
    padding: 2rem;
  }
  .navbar-toggle {
    left: 2rem;
    position: relative;
    padding: 3rem;
    text-align: center;
    font-size: 2rem;
    display: block;
    color: #dee3eb;
  }
  .navbar-toggle:hover {
    color: #e2bb39;
  }
  .navbar-title {
    margin-left: 30px;
    display: block;
    font-family: 'Bebas Neue';
    font-size: 1.5rem;
    color: #dee3eb;
  }
}
